fastapi==0.115.5
uvicorn==0.32.1
python-multipart==0.0.12
jinja2==3.1.4
annotated-types
pydantic
pydantic-core
starlette==0.41.2
typing-extensions
gunicorn==23.0.0
requests
motor
boto3
certifi
pillow
pillow-heif
openai
python-dotenv
websockets
google-genai
audioop-lts
